{
  "author": "tester",
  "about" : "Yet another Perl hacker",
  "title" : "Hacking",
  "description": "Always Hacking",
  "page_limit": 10,
  "menu": [
    {"title": "index", "link": "/"},
    {"title": "tags", "link": "/tags"},
    {"title": "archive", "link": "/archive"},
    {"title": "about", "link": "/pages/about"}
  ],
  "secrets": ["some-random-secret-string", "second-random-secret-string"],

  "hypnotoad": "Configuration for production server",
  "hypnotoad" : {
    "listen": ["http://127.0.0.1:5000"],
    "workers": 2,
    "clients": 100
  },
  "disqus" : {
    "shortname" : "disqus.shortname",
    "developer" : 0
  },
  "auth": {
    "user": "username",
    "pass": "password"
  },

  "urchin" : "google.analytics.key",
  "urchin_name" : "google.analytics.name",

  "ya_metrika" : "yandex.metrika.key"

}
