::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #666666;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

body {
  scrollbar-face-color: #666666;
  scrollbar-track-color: rgba(255, 255, 255, 0.1);
}
