@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600&subset=latin,cyrillic);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************************************************/

body {
  font-family: 'Open Sans', Sans-Serif;
  font-size: 20px;
  font-weight: 400;
  color: #333332;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #8768ED;
}
.pixImg {
  position: relative;
  width: 100%;
  min-width: 920px;
  height: 300px;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #000;
}
.pixImg > div {
  position: fixed;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
header {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0px 20px;
  font-size: 14px;
  color: #fefefe;
  text-shadow: 0px 0px 30px #1e1e1e;
}
header > div {
  max-width: 920px;
  margin: 0 auto;
  padding-top: 80px;
  height: 240px;
  text-align: center;
}
header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fefefe;
}
header p {
  font-size: 1.5em;
  margin-bottom: 0.7em;
}
header h1 {
  font-weight: 700;
}
header nav {
  max-width: 920px;
  margin: 0 auto;
  height: 60px;
  border-top: 1px rgba(255,255,255,0.5) solid;
}
header nav ul li {
  display: inline-block;
  margin-right: 20px;
}
header nav ul li a {
  font-weight: 800;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgba(255,255,255,0.65);
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  line-height: 60px;
  display: block;
  text-shadow: 0px 0px 30px #1e1e1e;
}
header nav ul li a.active {
  -webkit-box-shadow: 0px -3px 0px -1px #fefefe;
  box-shadow: 0px -3px 0px -1px #fefefe;
  color: #fefefe;
}
header nav ul li a:hover {
  color: #fefefe;
}
.container {
  height: 100%;
  background: #fff;
  z-index: 1;
  padding: 0px 20px;
  line-height: 25px;
  min-width: 650px;
}
.container div,
.container article {
  max-width: 920px;
  margin: 0 auto;
}
.container article {
  padding: 30px 0px;
  color: #333333;
}
.container .article-meta {
  padding: 10px 0px;
  font-size: 16px;
  font-style: italic;
  color: #666665;
}
.container .tags {
  padding-top: 0px;
}
.container .tags a {
  text-decoration: underline;
  color: #666665;
}
.container p {
  padding: 10px 0px;
  color: #333333;
  line-height: 1.4em;
}
.container a {
  color: #77d 0;
}
.container a:hover {
  text-decoration: underline;
}
.container nav {
  text-align: center;
  color: #666665;
  padding: 20px 0;
}
.container .more {
  font-weight: 700;
  color: #8768ED;
}
.pull-right {
  float: right;
}
.more,
.comment-counter {
  font-size: 18px;
}
footer {
  max-width: 920px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  padding: 20px 0px;
  border-top: 1px rgba(51,51,51,0.35) solid;
  background-color: #FFFFFF;
}
pre {
  display: block;
  padding: 12px;
  margin: 0 0 12.5px;
  font-size: 18px;
  line-height: 25px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #E2D8FF;
  border: 1px solid #5A3EB6;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: monospace;
}
p code {
  background-color: #E2D8FF;
  font-weight: 600;
}
p img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
  display: block;
  margin: 0 auto;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: 300;
  color: #5A3EB6;
  text-rendering: optimizelegibility;
}
h1 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 0.2em;
  line-height: 32px;
}
h2 {
  font-size: 30px;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 23px;
  line-height: 32px;
}
h3 small {
  font-size: 14px;
}
h4, h5, h6 {
  line-height: 28px;
}
ul {
  list-style: disc;
}
ul, ol {
  padding: 0;
  margin: 0 0 12.5px 25px;
}
li {
  line-height: 25px;
}
blockquote {
  padding: 5px 15px;
  margin: 0 15px;
  background: #E2D8FF;
  font-style: italic;
  border-left: 5px solid #8768ED;
  border-radius: 4px;
}

.popup {
  position: fixed;
  background: #5A3EB6;
  -webkit-transition: opacity 700ms ease-in-out;
  -moz-transition: opacity 700ms ease-in-out;
  -o-transition: opacity 700ms ease-in-out;
  -ms-transition: opacity 700ms ease-in-out;
  transition: opacity 700ms ease-in-out;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: rotate(-90deg);
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
}

.hiding {
  opacity: 0;
  cursor: default;
}

@media (max-width:768px) {
  .container {
    min-width: 100%;
    max-width: 100%;
  }
  .pixImg {
    min-width: 100%;
    max-width: 100%;
  }
  footer {
    width: 100%;
  }
  .popup {
    top: -7px;
    right: 6px;
    padding: 20px;
    border-radius: 7px 0 0 0;
  }
}

@media (min-width:769px) {
  .popup {
    bottom: 57px;
    right: 25px;
    padding: 10px 18px 15px;
    border-radius: 7px;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* START https://google-code-prettify.googlecode.com/svn/loader/skins/desert.css */
/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}
/* END https://google-code-prettify.googlecode.com/svn/loader/skins/desert.css */

/* Fix for Github Gists */
.gist {
  font-size: 16px;
  line-height: 20px;
}
